# rust
/target
/target2
*.rs.bk

# python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
dist/
build/
*.egg

# node
node_modules/
.next/

# environment
.env
*.db

# logs
logs/

# os
.DS_Store
Thumbs.db

# ide
.idea/
.vscode/
*.swp
*.swo
*~
