# rust
/target
*.rs.bk

# python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
dist/
build/
*.egg

# node
node_modules/

# environment
.env
*.db

# logs
logs/

# os
.DS_Store
Thumbs.db

# ide
.idea/
.vscode/
*.swp
*.swo
*~
